@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:oklch(37.3% 0.034 259.733);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(27.9% 0.041 260.031);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  oklch(86.9% 0.022 252.894) ;
}

input[type="file"] {
  display: none;
}

body {
  /* background-size: 40px 40px;
  background-image: radial-gradient(circle, black 2px, rgba(0, 0, 0, 0) 1px); */
  background: #1f232e;
}

